### IMPORTS

In [2]:
import pandas as pd
import csv

In [3]:
df = pd.read_csv('../scripts/data.csv', quoting=csv.QUOTE_ALL, usecols=range(8))

In [4]:
df.describe()

,name,state,street,lon,lat,formatted,categories,No_column
count,1406,1406,1406,1404,1394,1393,1362,229
unique,956,132,654,1219,1176,1073,155,1
top,Giza,Cairo,Street 9,[],"Al Qusair, Marsa Aalam Road, Egypt","['catering', 'catering.restaurant']","['catering', 'catering.restaurant']",[]
freq,48,545,49,4,6,24,201,229

In [5]:
df

,name,state,street,lon,lat,formatted,categories,No_column
0,Ramses Hilton,Cairo,Al Ghelal Street,31.231920049780662,30.0505894,"Ramses Hilton, 1115 Al Ghelal Street, Boulak, ...","['accommodation', 'accommodation.hotel', 'buil...",NaN
1,Conrad Cairo,Cairo,Al Matbaah Al Amireh Street,31.228192046347168,30.065423799999998,"Conrad Cairo, 1191 Al Matbaah Al Amireh Street...","['accommodation', 'accommodation.hotel', 'buil...",NaN
2,Hilton Pyramids Golf,Giza,Al Wahat Road,31.04439972284689,29.96299995,"Hilton Pyramids Golf, Al Wahat Road, Gardina P...","['accommodation', 'accommodation.hotel', 'inte...",NaN
3,Cairo Pyramids Hotel,Giza,"Cairo, Alexandria Desert Road",31.126265002453742,29.9929105,"Cairo Pyramids Hotel, Cairo, Alexandria Desert...","['accommodation', 'accommodation.hotel']",NaN
4,Sofitel,Cairo,Montazah Al Gezira Street,31.224616965446906,30.038717400000003,"Sofitel Al-Gezirah Cairo, 3 Montazah Al Gezira...","['accommodation', 'accommodation.hotel', 'buil...",NaN
...,...,...,...,...,...,...,...,...
1401,Aswan,Al Shahid Mounir Bernaba Atta Allah Street,32.9006781,24.0943534,"Al Shahid Mounir Bernaba Atta Allah Street, Sh...","['commercial', 'commercial.food_and_drink', 'c...",[],NaN
1402,Aswan,Al Bassaly Street,32.9004105,24.0945097,"Al Bassaly Street, Sherif Soliman, 81521, Egypt","['commercial', 'commercial.food_and_drink', 'c...",[],NaN
1403,Aswan,Street 10,32.8940555,24.0861575,"Street 10, Abd Al Aazim Hassn, 81511, Egypt","['commercial', 'commercial.food_and_drink', 'c...",[],NaN
1404,Aswan,Al Doctor Mohamed Yassin Elian Street,32.8931547,24.0850394,"Al Doctor Mohamed Yassin Elian Street, Abd Al ...","['commercial', 'commercial.food_and_drink', 'c...",[],NaN
1405,Aswan,Moustafa Mansour Hamada Street,32.8958008,24.0860451,"Moustafa Mansour Hamada Street, Abd Al Aazim H...","['commercial', 'commercial.food_and_drink', 'c...",[],NaN

In [8]:
df = df.stack().apply(lambda x: np.nan if isinstance(x, list) and len(x) == 0 else x).unstack()
# df = df.drop('No_column', axis=1)
df = df.dropna()

In [9]:
df

,name,state,street,lon,lat,formatted,categories
0,Ramses Hilton,Cairo,Al Ghelal Street,31.231920049780662,30.0505894,"Ramses Hilton, 1115 Al Ghelal Street, Boulak, ...","['accommodation', 'accommodation.hotel', 'buil..."
1,Conrad Cairo,Cairo,Al Matbaah Al Amireh Street,31.228192046347168,30.065423799999998,"Conrad Cairo, 1191 Al Matbaah Al Amireh Street...","['accommodation', 'accommodation.hotel', 'buil..."
2,Hilton Pyramids Golf,Giza,Al Wahat Road,31.04439972284689,29.96299995,"Hilton Pyramids Golf, Al Wahat Road, Gardina P...","['accommodation', 'accommodation.hotel', 'inte..."
3,Cairo Pyramids Hotel,Giza,"Cairo, Alexandria Desert Road",31.126265002453742,29.9929105,"Cairo Pyramids Hotel, Cairo, Alexandria Desert...","['accommodation', 'accommodation.hotel']"
4,Sofitel,Cairo,Montazah Al Gezira Street,31.224616965446906,30.038717400000003,"Sofitel Al-Gezirah Cairo, 3 Montazah Al Gezira...","['accommodation', 'accommodation.hotel', 'buil..."
...,...,...,...,...,...,...,...
1401,Aswan,Al Shahid Mounir Bernaba Atta Allah Street,32.9006781,24.0943534,"Al Shahid Mounir Bernaba Atta Allah Street, Sh...","['commercial', 'commercial.food_and_drink', 'c...",[]
1402,Aswan,Al Bassaly Street,32.9004105,24.0945097,"Al Bassaly Street, Sherif Soliman, 81521, Egypt","['commercial', 'commercial.food_and_drink', 'c...",[]
1403,Aswan,Street 10,32.8940555,24.0861575,"Street 10, Abd Al Aazim Hassn, 81511, Egypt","['commercial', 'commercial.food_and_drink', 'c...",[]
1404,Aswan,Al Doctor Mohamed Yassin Elian Street,32.8931547,24.0850394,"Al Doctor Mohamed Yassin Elian Street, Abd Al ...","['commercial', 'commercial.food_and_drink', 'c...",[]
1405,Aswan,Moustafa Mansour Hamada Street,32.8958008,24.0860451,"Moustafa Mansour Hamada Street, Abd Al Aazim H...","['commercial', 'commercial.food_and_drink', 'c...",[]

In [10]:
float_columns = ['lon', 'lat']
df[float_columns] = df[float_columns].apply(pd.to_numeric, errors='coerce')
df = df.dropna(subset=float_columns)

In [11]:
df

,name,state,street,lon,lat,formatted,categories
0,Ramses Hilton,Cairo,Al Ghelal Street,31.231920,30.050589,"Ramses Hilton, 1115 Al Ghelal Street, Boulak, ...","['accommodation', 'accommodation.hotel', 'buil..."
1,Conrad Cairo,Cairo,Al Matbaah Al Amireh Street,31.228192,30.065424,"Conrad Cairo, 1191 Al Matbaah Al Amireh Street...","['accommodation', 'accommodation.hotel', 'buil..."
2,Hilton Pyramids Golf,Giza,Al Wahat Road,31.044400,29.963000,"Hilton Pyramids Golf, Al Wahat Road, Gardina P...","['accommodation', 'accommodation.hotel', 'inte..."
3,Cairo Pyramids Hotel,Giza,"Cairo, Alexandria Desert Road",31.126265,29.992911,"Cairo Pyramids Hotel, Cairo, Alexandria Desert...","['accommodation', 'accommodation.hotel']"
4,Sofitel,Cairo,Montazah Al Gezira Street,31.224617,30.038717,"Sofitel Al-Gezirah Cairo, 3 Montazah Al Gezira...","['accommodation', 'accommodation.hotel', 'buil..."
...,...,...,...,...,...,...,...
1393,Nile Museum,Aswan,25,32.883969,24.040801,"Nile Museum, 25, Shash, 81531, Egypt","['entertainment', 'entertainment.museum']"
1394,Theatre Fauzi Fauzi,Aswan,Kornish Al Nile Street,32.899636,24.113166,"Theatre Fauzi Fauzi, Kornish Al Nile Street, S...","['entertainment', 'entertainment.culture', 'en..."
1397,Fruit juices,Aswan,Kornish Al Nile Street,32.894202,24.088888,"Fruit juices, Kornish Al Nile Street, Abd Al A...","['commercial', 'commercial.food_and_drink', 'c..."
1398,Zhara house,Aswan,Street 6,32.862659,24.059003,"Zhara house, Street 6, Nagaa Al Mahata, 81531,...","['commercial', 'commercial.gift_and_souvenir']"
1399,State Bakery,Aswan,East Al Bandr Street,32.898035,24.084348,"State Bakery, East Al Bandr Street, Abd Al Haf...","['commercial', 'commercial.food_and_drink', 'c..."

In [13]:
df = df.copy()
df['min_fee'] = 0.0

In [14]:
df

,name,state,street,lon,lat,formatted,categories,min_fee
0,Ramses Hilton,Cairo,Al Ghelal Street,31.231920,30.050589,"Ramses Hilton, 1115 Al Ghelal Street, Boulak, ...","['accommodation', 'accommodation.hotel', 'buil...",0.0
1,Conrad Cairo,Cairo,Al Matbaah Al Amireh Street,31.228192,30.065424,"Conrad Cairo, 1191 Al Matbaah Al Amireh Street...","['accommodation', 'accommodation.hotel', 'buil...",0.0
2,Hilton Pyramids Golf,Giza,Al Wahat Road,31.044400,29.963000,"Hilton Pyramids Golf, Al Wahat Road, Gardina P...","['accommodation', 'accommodation.hotel', 'inte...",0.0
3,Cairo Pyramids Hotel,Giza,"Cairo, Alexandria Desert Road",31.126265,29.992911,"Cairo Pyramids Hotel, Cairo, Alexandria Desert...","['accommodation', 'accommodation.hotel']",0.0
4,Sofitel,Cairo,Montazah Al Gezira Street,31.224617,30.038717,"Sofitel Al-Gezirah Cairo, 3 Montazah Al Gezira...","['accommodation', 'accommodation.hotel', 'buil...",0.0
...,...,...,...,...,...,...,...,...
1393,Nile Museum,Aswan,25,32.883969,24.040801,"Nile Museum, 25, Shash, 81531, Egypt","['entertainment', 'entertainment.museum']",0.0
1394,Theatre Fauzi Fauzi,Aswan,Kornish Al Nile Street,32.899636,24.113166,"Theatre Fauzi Fauzi, Kornish Al Nile Street, S...","['entertainment', 'entertainment.culture', 'en...",0.0
1397,Fruit juices,Aswan,Kornish Al Nile Street,32.894202,24.088888,"Fruit juices, Kornish Al Nile Street, Abd Al A...","['commercial', 'commercial.food_and_drink', 'c...",0.0
1398,Zhara house,Aswan,Street 6,32.862659,24.059003,"Zhara house, Street 6, Nagaa Al Mahata, 81531,...","['commercial', 'commercial.gift_and_souvenir']",0.0
1399,State Bakery,Aswan,East Al Bandr Street,32.898035,24.084348,"State Bakery, East Al Bandr Street, Abd Al Haf...","['commercial', 'commercial.food_and_drink', 'c...",0.0

In [17]:
df.loc[df['name'] == 'Conrad Cairo', 'min_fee'] = 50.0

In [18]:
df

,name,state,street,lon,lat,formatted,categories,min_fee
0,Ramses Hilton,Cairo,Al Ghelal Street,31.231920,30.050589,"Ramses Hilton, 1115 Al Ghelal Street, Boulak, ...","['accommodation', 'accommodation.hotel', 'buil...",98.0
1,Conrad Cairo,Cairo,Al Matbaah Al Amireh Street,31.228192,30.065424,"Conrad Cairo, 1191 Al Matbaah Al Amireh Street...","['accommodation', 'accommodation.hotel', 'buil...",50.0
2,Hilton Pyramids Golf,Giza,Al Wahat Road,31.044400,29.963000,"Hilton Pyramids Golf, Al Wahat Road, Gardina P...","['accommodation', 'accommodation.hotel', 'inte...",0.0
3,Cairo Pyramids Hotel,Giza,"Cairo, Alexandria Desert Road",31.126265,29.992911,"Cairo Pyramids Hotel, Cairo, Alexandria Desert...","['accommodation', 'accommodation.hotel']",0.0
4,Sofitel,Cairo,Montazah Al Gezira Street,31.224617,30.038717,"Sofitel Al-Gezirah Cairo, 3 Montazah Al Gezira...","['accommodation', 'accommodation.hotel', 'buil...",0.0
...,...,...,...,...,...,...,...,...
1393,Nile Museum,Aswan,25,32.883969,24.040801,"Nile Museum, 25, Shash, 81531, Egypt","['entertainment', 'entertainment.museum']",0.0
1394,Theatre Fauzi Fauzi,Aswan,Kornish Al Nile Street,32.899636,24.113166,"Theatre Fauzi Fauzi, Kornish Al Nile Street, S...","['entertainment', 'entertainment.culture', 'en...",0.0
1397,Fruit juices,Aswan,Kornish Al Nile Street,32.894202,24.088888,"Fruit juices, Kornish Al Nile Street, Abd Al A...","['commercial', 'commercial.food_and_drink', 'c...",0.0
1398,Zhara house,Aswan,Street 6,32.862659,24.059003,"Zhara house, Street 6, Nagaa Al Mahata, 81531,...","['commercial', 'commercial.gift_and_souvenir']",0.0
1399,State Bakery,Aswan,East Al Bandr Street,32.898035,24.084348,"State Bakery, East Al Bandr Street, Abd Al Haf...","['commercial', 'commercial.food_and_drink', 'c...",0.0

In [19]:
df.to_csv('processed_a_r_data.csv', index=False)